.required-asterisk {
  color: var(--chakra-colors-red-500);
}

.recaptcha-notice {
  width: 90%;
  font-size: 0.875rem;
  /* color: var(--chakra-colors-whiteAlpha-700); */
  text-align: center;
  /* max-width: 400px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.5rem;
  line-height: 1.4;
}

.recaptcha-notice a {
  /* color: var(--chakra-colors-teal-200); */
  text-decoration: none;
  font-weight: 600;
}

.recaptcha-notice a:hover {
  text-decoration: underline;
}
