/* .consentContainer {
  > div {
    justify-content: center !important;
    > div:nth-child(1) {
      flex: none !important;
      @media screen and (max-width: 768px) {
        flex: 1 0 300px !important;
        text-align: center;
      }
    }
  }
} */

.btnContainer {
  display: flex;
  gap: 1.5rem;
  @media screen and (max-width: 768px) {
    gap: 1rem;
  }
}

.cookieConsentContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}
